VehicleTrackingSystem/VehicleTracking.ConcreteImportingStrategies/VehicleImportingXMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Vehiculos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Vehiculo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Marca" type="xs:string" />
              <xs:element name="Modelo" type="xs:string" />
              <xs:element name="Año" type="xs:short" />
              <xs:element name="Color" type="xs:string" />
              <xs:element name="Tipo" type="xs:string" />
              <xs:element name="VIN" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>